.d-flex{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.flex-wrap{
  flex-wrap: wrap;
}
.justify-space-start{
  justify-content: start;
}
.container{
  margin: 0 auto;
  max-width: 1280px;
}

.user__card{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 300px;
  margin: 10px;
  text-align: center;
  font-family: arial;
  &__title{
    color: grey;
    font-size: 18px;
  }
  &__web{
    cursor: pointer;
  }
}


