.d-flex{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.flex-wrap{
  flex-wrap: wrap;
}
.justify-space-start{
  justify-content: start;
}
.container{
  margin: 0 auto;
  max-width: 1280px;
}

.user__card{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 300px;
  margin: 10px;
  text-align: center;
  font-family: arial;
  &__title{
    color: rgb(69, 221, 18);
    font-size: 18px;
  }
  &__web{
    cursor: pointer;
  }
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.horizontal {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  li {
    float: left;
    a {
      display: inline-block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }
  }
}
.active {
  background-color: #04AA6D;
}

footer{
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
}